.promo-container{
    display: inline-block;
	box-shadow: 0 15px 50px rgba(0,0,0,0.1);
  	padding: 60px 15px 85px;
    position:relative;
    border-radius: 10px;
    max-width: 100%;
}

#cart-promotion-top:empty,
#cart-promotion-section:empty{
  display: none;
}

#cart-promotion-top {
  align-self: center;
}

.flex-container{
  display:flex;
  align-items:center;
  position:relative;
}

.sf_promo-prod-img{
  max-height: 100%;
}

.plus-icon{
  justify-content:center;
  margin:50px;
  align-self:center;
}

.sf_promo-main-prod,
.secondary-prod{
  margin: 3px 10px;
  padding:10px;
  text-decoration: none;
  width:200px;
  min-width: 150px;
}

.secondary-prod{
  width: 180px;
}

.sf_promo-main-container-margin .sf_promo-main-prod,
.secondary-prod{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}


.sf_promo-main-container-margin .sf_promo-main-prod > div,
.secondary-prod > div{
  width: 100%;
}


.sf_promo-main-container-margin .sf_promo-main-prod .checkbox-select-wrapper,
.secondary-prod .checkbox-select-wrapper{
  flex: 1;
  align-items: flex-start;
}

.sf_promo-main-container-margin .sf_promo-main-prod .checkbox-select-wrapper .input-check,
.secondary-prod .checkbox-select-wrapper .input-check{
  margin-top: 2px !important;
}

.sf_promo-main-prod.is-selected,
.secondary-prod.is-selected{
  border-radius: 5px;
  background-color: rgba(0,0,0,0.02);
  box-shadow: 0 0 0 1px rgba(0, 0, 0 , 0.15);
}

.sf_promo-main-prod.is-selected .img-container,
.secondary-prod.is-selected .img-container{
  border-color: transparent;
}

.cart-promotion-prod{
  margin:15px;
  text-decoration: none;
  width:200px;
  padding:10px;
}

.cart-promotion-prod:hover{
  border:1px solid #9E8137;
}

/* -- quantity box -- */
.buttons_added{
	display: flex;
    text-align-last: center;
  	margin-left:30%;
}

.buttons_added.minus{
	background-color: white;
    border: 0;
    font-size: 1rem;
    padding: 0;
    font-weight: bold;
    margin: 0 10px;
}

.buttons_added.input-text{
	border: 0;
  	margin: 0;
  	padding: 0;
  	font-size: 16px;
}

.buttons_added.plus{
	background: white;
    border: 0;
    font-weight: bold;
    padding: 0;
    margin: 0 10px;
}

.view-all{
	position: absolute;
  top: -3px;
  right: 20px;
}

.ml-2{
  margin-right: 1rem;
}

.display-control{
	display:flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  position: relative;
}

.sf_promo-product-price-wrapper .sf_promo-product-original-price{
  position: absolute;
  max-width: 90%;
}

/*Hide for small*/

.hide-for-small-selected{
  	display:flex;
    margin-left: 22%;
}

.sf_promo-main-container-margin{
 	margin-top:20px;
  	display:flex;
    max-width: 100%;
    overflow: auto;
}

.sf_promo-container-height-opacity{
    max-height: 800px;
    overflow: hidden;
    position: relative;
}

.sf_promo-container-white-gradient:after{
    background: #fff;
    background: -webkit-gradient(left top,right top,color-stop(0,#fff),color-stop(100%,hsla(0,0%,100%,0)));
    background: linear-gradient(360deg,#fff 0,hsla(0,0%,100%,0));
}

.sf_promo-container-white-gradient:after{
	content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 27%;
    z-index: 2;
}

.sf_promo-select{
  width: 100%;
  max-width: 100%;
  padding: 5px 10px;
  background-position: right 10px center;
  margin: 0;
  border: none;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.sf_promo-qty-adjust {
	display: inline-flex;
}

.sf_promo-product-single__btn-qty-adjust {
	cursor: pointer;
    font-size: 1.4em;
    line-height: 1.7;
}

.sf_promo-qty-adjust input {
    width: 30px;
    min-width: 30px;
    text-align: center;
    border: none;
    padding: 0;
    font-size: 1.2em;
    box-shadow: none;
  	margin-bottom:0;
    color: currentColor;
    background: transparent;
    -moz-appearance: textfield;
}

.sf_promo-qty-adjust input::-webkit-outer-spin-button,
.sf_promo-qty-adjust input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sf_promo-quantity-selector {
    display: inline-block;
    width: 100px;
}


.sf_promo-promo-label-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:20px;
    /* max-height: 35px; */
    max-width: 100%;
}

.sf_promo-promo-label{
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 6px;
    margin-top: 12px;
    border: 1px solid;
    font-size: 0.8em;
    padding: 8px 16px;
    font-weight: 400;
    line-height: 1.3;
    border-radius: 2px;
    max-width: 100%;
}

.sf_promo-promo-label:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: currentColor;
  z-index: 1;
  opacity: 0.05;
  top: 0;
  left: 0;
  border-radius: 2px;
}

.sf_promo-promo-label.sf_promo-label-unclickable{
  border: 1px dashed;
}

.sf_promo-promo-label.sf_promo-label-clickable{
  padding-right: 2.6em;
}

.sf_promo-promo-label .sf_promo-svg-icon{
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  width: 1.4em;
  height: 1.4em;
  fill: none;
}

.sf_promo-promo-label.sf_promo-label-unclickable,
.sf_promo-promo-label.sf_promo-label-unclickable:hover {
  cursor: default;
}

#sf_promo-tag{
  display: inline;
}

#sf_promo-view-more-tag{
  font-size: 13px;
  cursor: pointer;
  padding: 7px 10px;
  border: none;
}

.sf_promo-tag-label-title{
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-btn-adjust{
  padding: 0 10px; 
  position: absolute; 
  margin-left: 11%;
}

.progress-bar-bg{
  background-color:#C8C8C8;
  width:50%;
  height:5px;
  margin:15px auto;
  align-self:center;
}

.progress-bar{
  background-color:#9E8137;
  width:50%;
  height:5px;
}

.amount-entitled-text{
  font-weight:bold;
  margin-left:5px;
}

.sf_promo-ribbon {
    position: absolute;
    top: 20px;
    left: 0;
    display: inline-block;
    z-index: 2;
    font-size: 14px;
    line-height: 34px;
    padding: 0 15px 0 25px;
    max-width: 90%;
    box-shadow: 2px 3px 8px rgba(0, 0, 0 , 0.15);
}

.sf_promo-ribbon:after, .sf_promo-ribbon:before {
    content: "";
    position: absolute;
    z-index: -1;
    right: -17px;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
}

.sf_promo-ribbon:before {
    top: 0;
    border-top: 17px solid;
}

.sf_promo-ribbon:after {
    bottom: 0;
    border-bottom: 17px solid;
}

.sf_promo-ribbon-text {
    max-width: 360px;
}

.sf_promo-ribbon-text span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-width: 100%;
}

.sf_promo-container, .promotion-form{
	position: relative;
}

.promotion-form{
    margin-top: 20px;
}

.sf_promo-add-product-icon{
	width:2.4em;
    height: 2.2em;
}

.sf_promo-add-product-icon:hover{
	border: 1px solid black;
    border-radius: 5px;
}

.sf_promo-product-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    width: 100%;
}

.large--three-quarters .sf_promo-product-grid-container {
  grid-template-columns: auto auto auto;
}

.sf_promo-product-grid-container .secondary-prod{
    margin: 0;
}

.sf_promo-product-top-right-tag {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.sf_promo-product-main-prod-section{
    margin-left: 30px;
}
.sf_promo-product-main-prod-section .main-prod-promo-container{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.sf_promo-product-main-prod-section .main-prod-promo-container .promotion-label{
    background-color:#5898E7;
    color:white;
    padding: 10px;
    margin-right: 10px; 
    border-radius: 10px;
}

.sf_promo-product-main-prod-section .original-price{
    text-decoration: line-through;
    display:block;
    margin-bottom: 5px;
    color:#797979
}

.sf_promo-product-main-prod-section .discounted-price{
    display:block;
    color: #9E8137;
    font-weight: bold;
}

.select-counter-container{
    float:right;
    margin-right: 50px;
    margin-bottom: 50px;
}

span.selected{
    color:#9E8137;
    font-weight: bolder;
    font-size: 30px;
}

span.gift-text{
    color:#9E8137;
    font-weight: bolderr;
    font-size: 20px;
}

.free-label-text{
  font-weight: bold;
  display: inline-block;
  background-color:#5898E7;
  color:white;
  padding: 4px 15px;
  border-radius: 8px;
  font-size: 15px;
  text-align: center;
  margin-right: 0.5rem;
  transform: translateY(-0.3em);
  -webkit-transform: translateY(-0.3em);
}

.sf_promo-gift-title{
    display:block;
    margin-top: 20px;
}

.sf_promo-gift-original-price{
    text-decoration: line-through;
    display:block;
    margin-bottom: 5px;
    color:#797979
}

.sf_promo-gift-discounted-price{
    display:block;
    color: #9E8137;
    font-weight: bold;
}

.sf_promo-gift-select{
    width: 50%;
}


.sf_promo-page-header-title {
    margin: 0;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.sf_promo-page-header-title:not(:only-child) {
    margin-bottom: 1rem;
}

.sf_promo-page-header-gift-entitled{
    color:#9E8137;
    font-size: 30px;
}

.sf_promo-center{
    text-align: center;
}

.sf_promo-form{
	position:relative;
  margin: 2rem;
}

#cart-promotion-section .sf_promo-form{
  margin: 0;
}

.sf_promo-form button[type=submit]{
  position: absolute;
  right: 35px;
  bottom: 20px;
  z-index: 2;
}

.img-container{
	position: relative;
    width: 100%;
    height: 150px;
  	display: flex; 
    justify-content: center;
    align-items: center;
  	margin: 0 auto 10px;
    border: 1px solid rgba(0,0,0,0.08);
    overflow: hidden;
    border-radius: 5px;
}

.checkbox-select-wrapper{
    display: flex;
    align-items: center;
    margin: 5px 0;
    line-height: 1.4;
}

.checkbox-select-wrapper .input-check{
    margin-right: 8px;
}

.checkbox-select-wrapper .input-check input{
    min-width: initial;
}

.sf_promo-product-original-price{
    text-decoration: line-through;
    color: #999;
    line-height: 1.2;
}

.sf_promo-product-discounted-price{
    font-weight: bold;
    margin-bottom: 0;
}

.hide{
    display: none;
}

.get-more-promotion, .view-more-promotion{
    text-align:-webkit-center;
    background:none;
    border:0;
    width:100%;
}

button#view-more-promotion{
    margin-top: 2rem;
}

.btm-fixed-container{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    box-shadow: 0 -10px 25px  rgba(0, 0, 0 , 0.05);
    background-color: white;
    max-width: 1200px;
    z-index: 9999;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin: 3rem 0;
}

.btm-fixed-container .cancel-btn{
    margin-right: 20px;
    font-size: 1.3em;
}

.page-sf-promotion .btm-fixed-container .add-to-cart{
    position: relative;
    right: initial;
    bottom: initial;
}

.page-sf-promotion{
  max-width: 1200px;
  margin: 0 auto;
}

.page-sf-promotion .sf_promo-main-prod{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.page-sf-promotion .sf_promo-main-prod .sf_promo-product-main-prod-section{
  width: 100%;
  min-width: 250px;
  max-width: 550px;
}

.page-sf-promotion .sf_promo-main-prod .sf_promo-select{
  padding: 10px;
}

.page-sf-promotion .sf_promo-main-prod .checkbox-select-wrapper,
.page-sf-promotion .sf_promo-main-prod .display-control{
  max-width: 300px;
  font-size: 1rem;
}

.page-sf-promotion .sf_promo-main-prod.is-selected{
  padding: 1rem;
}

.page-sf-promotion .sf_promo-main-prod .img-container{
  width: 100%;
  max-width: 250px;
  height: 250px;
  margin: 0;
}

.page-sf-promotion .sf_promo-main-prod h3{
  margin-bottom: 0.5rem;
}

.page-sf-promotion .secondary-prod{
  justify-self: center;
}

#cart-promotion-section{
  text-align: center;
}

#cart-promotion-section .promo-container{
  box-shadow: none;
  padding: 0 15px 80px;
  margin: 2rem auto; 
}

#cart-promotion-section .sf_promo-main-container-margin > div:first-child{
  margin-left: 2px;
}

#cart-promotion-top .text-image-wrapper{
  place-content:center;
  display:flex;
  align-items:center;
  padding: 15px 25px 10px;
  text-align: center;
}

#cart-promotion-top .checked-img{
  margin:0 10px;
  width:20px;
  height:20px;
}

#cart-promotion-top .entitled-title, .potential-title{
  font-weight:bold;
  font-size:15px
}

#cart-promotion-top .grey-hr{
  border-top: solid #B1B1B1; 
  border-width: 1px 0 0;
  width:50%;
  margin:auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sold-out-text{
  border: solid 1px grey;
  padding: 2px 10px;
  font-size: 11px;
  white-space: nowrap;
  color: white;
  background: gray;
  box-shadow:  0 15px 50px rgba(0,0,0,0.35);;
}

.svg-icon {
  width: 1.2em;
  height: 1.4em;
  vertical-align: middle;
  fill: currentcolor;
  margin-top: -0.2em;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sf_promo-loader {
  border: 5px solid #dedede;
  border-radius: 50%;
  border-top: 5px solid #333;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 700ms linear infinite;
  animation: spin 700ms linear infinite;
}

.sf_promo-is-loading {
  position: relative;
  cursor: not-allowed;
  pointer-events: none;
  color: transparent !important;
}

.sf_promo-is-loading:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  border: 4px solid #dedede;
  border-radius: 50%;
  border-top: 4px solid #333;
  -webkit-animation: spin 700ms linear infinite;
  animation: spin 700ms linear infinite;
  z-index: 2;
}

.promo-loading-wrapper{
  display:flex;
  place-content:center;
  margin-top:20px;
}

.entitled-label{
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5898E7;
  color: white;
  padding: 0 10px;
  border-radius: 3px;
}

.float-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sf_promo-tag-wrapper{
  margin-bottom: 20px;
}

.sf_promo-tag-container{
  width: 100%;
  max-width:450px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px){
  .sf_promo-form{
    margin: 2rem 0;
  }

  .sf_promo-form button[type=submit]{
    right: 20px;
  }

  .sf_promo-ribbon-text {
    max-width: 200px;
  }

  .promo-container{
    width: calc(100% - 30px);
    margin: 10px auto;
    padding: 20px 0px 85px;
    display: block;
  }
  
  .img-container{
      height: 120px;
  }

  .sf_promo-main-prod,
  .secondary-prod{
      margin: 5px;
      width: auto;
      min-width: none;
  }

  .sf_promo-product-main-prod-section .main-prod-promo-container{
      display: block;
      margin-bottom: 0;
  }

  .hide-for-small,.hide-for-small-selected{
      display:none;
  }

  .sf_promo-product-grid-container .secondary-prod,
  .secondary-prod:nth-child(3),
  #cart-promotion-section .secondary-prod:nth-child(1),#cart-promotion-section .secondary-prod:nth-child(2){
      display:block;
  }

  #cart-promotion-section .promo-container{
    padding: 0 0 80px;
  }

  #cart-promotion-section .sf_promo-main-container-margin{
    margin: 1rem 0 0;
  }

  .sf_promo-product-grid-container{
      grid-template-columns: auto auto;
      grid-gap: 10px;
  }

  .mobile-btn-adjust{
      margin-left: 28%;;
  }

  .sf_promo-main-container-margin{
      justify-content: space-between;
      margin: 50px 10px 0;
  }

  .display-control{
    display: flex;
  }

  .view-all{
    top: 30px;
    right: 20px;
  }

  .buttons_added{
    margin-left: 0;
  }

  .btm-fixed-container{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    margin: 0;
  }

  .btm-fixed-container .add-to-cart{
    bottom: 15px;
  }

  .page-sf-promotion .sf_promo-main-prod .sf_promo-product-main-prod-section{
    width: 100%;
    min-width: 100%;
    margin: 2rem 0 0;
  }
}
